<div class="our-story-card animation-card freePlanAndroid" data-uia-nmhp="freePlanAndroid" data-uia="our-story-card">
    <div class="animation-card-container">
        <div class="our-story-card-text">
            <h1 id="" class="our-story-card-title" data-uia="animation-card-title">Have an Android Phone? Get our new
                free plan!</h1>
            <h2 id="" class="our-story-card-subtitle" data-uia="our-story-card-subtitle">Watch a selection of new movies
                and TV shows without adding any payment details!</h2>
            <div class="cta-link-wrapper"><a data-uia="our-story-cta-freePlanAndroid"
                    class="btn btn-text-cta nmhp-cta btn-none btn-custom"
                    href="https://play.google.com/store/apps/details?id=com.netflix.mediaclient" target="_top"><span
                        id="" class="cta-btn-txt" data-uia="">Get the app</span><span id="" class="chevron-right-arrow"
                        data-uia=""><svg viewBox="0 0 6 12" xmlns="http://www.w3.org/2000/svg">
                            <desc>chevron</desc>
                            <path d="M.61 1.312l.78-.624L5.64 6l-4.25 5.312-.78-.624L4.36 6z" fill="none"
                                fill-rule="evenodd"></path>
                        </svg></span></a></div>
        </div>
        <div class="our-story-card-img-container">
            <div class="our-story-card-animation-container"><img alt="" class="our-story-card-img"
                    src="https://assets.nflxext.com/ffe/siteui/acquisition/ab36101/nmhp/en.jpg"
                    data-uia="our-story-card-img">
                <div class="our-story-card-animation" data-uia="our-story-card-animation">
                    <div class="our-story-card-animation-text"></div>
                    <div class="our-story-card-animation-custom" data-uia="our-story-card-custom" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="center-pixel" style="position:absolute"></div>
    </div>
</div>